body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    /* min-height: 100%; */
    /* overflow: visible; */
    font-family: Roboto, sans-serif;
    flex: 1;
}

.first-section {
    background: #1F2937;
    color: #F9FAF8;
    padding: 0px 200px 100px 200px;
    /* display: flex;
    flex-direction: column; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sec1-body,
.sec4-body {
    display: flex;
    justify-content: space-between;
}

.sec1-content,
.sec4-content {
    padding-right: 50px;
    /* background: blue; */
}

.sec1-main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sec1-subtext {
    padding: 10px 0;
    font-size: 18px;
}

button {
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 18px;
}

button.sec1-sign-up {
    background: #3882f6;
    color: white;
    border: 1px solid #3882f6;
    font-weight: bold;
}

button.sec4-sign-up {
    background: #3882f6;
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    padding: 80px 100px;
    width: 20%;
    font-size: 18px;
    /* padding: 80px 90px; */
}

.second-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.sec2-title {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.sec2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.info {
    width: 150px;
}

.sec2-box {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
    font-size: 18px;
}

.third-section {
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.quote {
    text-align: justify;
    font-style: italic;
    font-size: 36px;
}

.sign {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px 200px;
}

.sec4-body {
    background: #3882f6;
    color: white;
    padding: 50px 100px;
    border-radius: 10px;
    width: 50%;
    font-size: 18px;
}

.sec4-title {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: #e5e7eb;
    padding-top: 30px;
    padding-bottom: 30px;
}